html{
	height: 100%;
	margin: 0px; 
	padding: 0px;
}

body {
	font-family: Helvetica, sans-serif;
	background: rgb(29,36,45);
	background-size: cover;
	height: 89.5%;
	margin: 0px;
	padding: 0px;
}

header{
	max-height: 10vw;
	background-color:black;
	border-bottom: rgb(255, 230, 0) solid 1vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-title{
	padding: 1em;
	max-width: 37%;
	height: auto;
}
#header-nav{
	height: inherit;
    width: 520px;
    padding-right: 20px;
}

#header-nav ul{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	height: inherit;
}

#header-nav li{
	height: inherit;
}

#header-nav a{
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 2vw;
	text-align:center;
	display: flex;
	height: inherit;
	text-decoration: none;
	align-items: center;
}
#header-nav a:hover{
	color: black;
	background: white;
}

.sidenav {
	height: 100%;
	width: 5vw;
	position: fixed;
	float: left;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 6vw;
  }

.sidenav a {
	padding: 1vw 1vw 1vw 5vw;
	text-decoration: none;
	font-size: 2vw;
	color: #818181;
	display: none;
	transition: 0.3s;
}
  
.sidenav a:hover {
	color: #f1f1f1;
	background-color: rgba(200, 200, 200, 0.5);
}
  
.sidenav #closebtn {
	display: block;
	position: absolute;
	top: 0;
	right: 0.8vw;
	font-size: 3vw;
}

.sidenav #closebtn:hover {
	color: #f1f1f1;
	background-color: #111;
}
  
#main {
	transition: margin-left .5s;
	margin: 2vw 2vw 2vw 7vw;
	background-color: #e8e8e8;
	border-radius: 8px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	height: 1000px;
}

.main-header{
	background-color: black;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	display: flex;
	max-height: 500px;
}
#main-headerImage{
	align-self: baseline;
	margin: 0;
	padding: 0;
}

#main-headerImage img{
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
}

#main-headerContent{
	align-self: center;
	padding-left: 32px;
	max-width: 500px;
	height: auto;
}

.main-header h1{
	font-size: 2.8vw;
    margin: 0;
	color: white;
	font-family: 'Arvo', serif;
}

.main-header strong{
	color: rgb(255, 230, 0);
}

.info-sections{
	background-color: white;
	height: 400px;
	margin: 1em;
}

.info-sections h2{
	font-family: 'Roboto Slab', serif;
	color: gray;
	font-size: 2.8vw;
	padding: 2.5vw 1.5vw 0 1.5vw;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px solid #e8e8e8;

}

@media screen and (max-width: 600px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 0.7rem;}
	#header-nav a{font-size: 0.9rem; margin: 5px;}
	.info-sections h2{font-size: 1.4rem;}
}

