* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
	background: url(images/spaceport.jpg) no-repeat;
	background-size: cover;
}


div#page-header{
	height:100px;
	background-color:black;
	border-bottom: white solid 10px;
}

div#page-header div#left-side{
	float:left;
	padding: 1em;
	width: 200px;
}

#post {
	height: 100%;
}

.sidenav {
	height: 100%;
	width: 0;
	z-index: 1;
	position: sticky;
	float: left;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 40px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	margin: 10px;
	padding: 16px;
	background-color: white;
	border-radius: 0.5em;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }