html{
	margin: 0px; 
	padding: 0px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: rgb(29,36,45);
	margin: 0px;
	padding: 0px;
	position: relative;
}
.sidenav {
	height: 100vh;
	width: 5vw;
	position: sticky;
	top:0;
	float: left;
	background-color: #111;
	transition: 0.5s;
  }

.sidenav a {
	padding: 1vw 1vw 1vw 5vw;
	text-decoration: none;
	font-size: 2vw;
	color: #818181;
	display: none;
	transition: 0.3s;
}
  
.sidenav a:hover {
	color: #f1f1f1;
	background-color: rgba(200, 200, 200, 0.5);
}
  
.sidenav #closebtn {
	display: block;
	position: absolute;
	top: 0;
	right: 0.8vw;
	font-size: 3vw;
}

.sidenav #closebtn:hover {
	color: #f1f1f1;
	background-color: #111;
}

header{
	background-color:black;
	border-bottom: rgb(255, 230, 0) solid 1vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#title-link{
	height: 10vw;
}

#page-title{
	padding: 1em;
	height: 80%;
	border: 0;
}

#header-nav{
	height: inherit;
    padding-right: 40px;
}

#header-nav ul{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

#header-nav a{
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 1.8rem;
	padding: 8px;
	text-decoration: none;
	border-radius: 8px;
	display: flex;
	align-items: center;
	text-align: center;
}

#header-nav a:hover{
	color: black;
	background: white;
}

#hamburger{
    font-size: 1.4rem;
    height: 2.2rem;
    width: 2.2rem;
    text-align: center;
    line-height: 2.2rem;
    border-radius: 50%;
    color: white;
    background-color: rgba(40,40,40,0.7);
    display: none;
    z-index: 3;
    position: fixed;
    right: 4vw;
}

#main {
	transition: margin-left .5s;
	margin: 2vw 2vw 2vw 7vw;
	background-color: #e8e8e8;
	border-radius: 8px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.main-header{
	background-color: black;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	display: flex;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	overflow: hidden;
	height: 30vw;
}

.main-header img{
	align-self: baseline;
	margin: 0;
	padding: 0;
	height: inherit;
}

#main-headerContent{
	align-self: center;
	padding-left: 32px;
	max-width: 50%;
	height: auto;
	z-index: 2;
}

.main-header h1{
	font-size: 2.8vw;
	text-shadow: 1px 2px 2px #000;
    margin: 0;
	color: white;
	font-family: 'Arvo', serif;
}

.main-header strong{
	color: rgb(255, 230, 0);
}

.projects-section{
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2{
	background-color: white;
	font-family: 'Roboto Slab', serif;
	color: gray;
	font-size: 2.3rem;
	padding: 2.5vw 1.5vw 0 1.5vw;
	text-transform: uppercase;
	text-align: center;
	margin: 5px 10px;
	border-radius: 8px;

}
.project{
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 5px 10px;
	border-radius: 8px;
}

.project-description{
	padding-left: 20px;
	width: 45%;
}

.project-description h3{
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
}
.project-subtitle{
	font-family: 'Staatliches', cursive;
	font-size: 1.5rem;
}

.project-info{
	font-family: 'Courier New', Courier, monospace;
}

.project img{
	max-width: 40%;
	padding: 15px;
}

.experience-section h2{
	background-color: #e8e8e8;
	margin-top: 0;
}

.experiences-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 1em;
	padding-bottom: 1em;
}
.experience{
	width: 20rem;
	height: 17rem;
	margin: 0.6rem;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
}

.experience img{
	width: 100%;
	height: 12.5rem;
	object-fit: cover;
}

.experience-details{
	margin: 0.5rem;
	font-size: 0.8rem;
	margin-top: -5.3rem;
	padding: 0.3rem 0.5rem 0.9rem;
	position: relative;
	background-color: gainsboro;
	text-align: center;
}

.experience-details p{
	font-size: 0.75rem;
	text-align: left;
}

.experience-details a{
	text-decoration: none;
	color: royalblue;
	border-radius: 5px;
	padding: 0.3rem 0.6rem;
	border: 1px solid royalblue;
}

.experience-details a:hover{
	color: white;
	background-color: royalblue;
	border: 1px solid white;
}

footer {
	border-top: 5px solid rgb(255, 230, 0);
	transition: margin-left .5s;
	margin-left: 5vw;
}

#work {
	background-color: rgb(46, 34, 28);
	color: white;
	padding: 1em 2em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

#email-form label{
	display: block;
	font-weight: 900;
	padding-bottom: 5px;
	font-size: 1.3em;
}

#email-box {
	display: inline-block;
	opacity: 0.85;
	padding: 8px 20px 8px 30px;
	border-color: rgb(46, 34, 28);
	border-radius: 5px;
	margin-right: 10px;
	background-image: url("images/at.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: center;
}

#email-box:focus {
	opacity: 1;
}

#email-send{
	display: inline-block;
	border-color: rgb(46, 34, 28);
	font-weight: 600;
	padding: 8px 17px;
	border-radius: 5px;
	margin: 5px auto;
	color: white;
	background-color: rgb(46, 34, 28);
}

#email-send:hover{
	background-color: white;
	color: rgb(46, 34, 28);
}


#social-media{
	margin-top: 20px;
	margin-bottom: 20px;
}

.social {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	background-size: 50px 50px;
}

.social.facebook {
	background-image: url("images/facebook.svg");
}

.social.facebook:hover {
	background-image: url("images/facebook-white.svg");
}

.social.github {
	background-image: url("images/github.svg");
}

.social.github:hover {
	background-image: url("images/github-white.svg");
}

.social.instagram {
	background-image: url("images/instagram.svg");
}

.social.instagram:hover {
	background-image: url("images/instagram-white.svg");
}

#ending {
	display: flex;
	flex-wrap: wrap;
	color: white;
	background-color: black;
	justify-content: space-around;
	align-items: center;
}

#gerente{
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: center;
}

#ending strong{
	font-weight: 900;
}

#ending img{
	margin-left: 5px;
	width: 140px;
	height: 35px;
}

@media screen and (max-width: 767px) {
	.sidenav {
		padding-top: 20px;
	}

	.sidenav a {
		font-size: 0.6rem;
	}

	.info-sections h2{
		font-size: 1.4rem;
	}

	#page-title{
		padding: 0.5em;
	}

	.project-description{
		padding-left: 5px;
		width: 90%;
	}

	.project img{
		max-width: 90%;
		padding: 5px;
	}

	#header-nav a{
		font-size: 1.5rem;
	}

	#header-nav{
		width: 54%;
	}

	#hamburger{
		display: initial;
	}

	#main-headerContent{
		max-width: 70%;
	}

	.work-link {
		display: none;
    	position: fixed;
    	z-index: 3;
    	right: 4vw;
    	background-color: rgb(40,40,40,0.7);
    	margin-top: 2.9rem;
    	border-radius: 8px;
    	/* transition: margin-top 0.5s; */
	}

	.work-link.is-active{
		display: block;
		transition: margin-top 0.5s;
	}

	.main-header {
		position: relative;
		height: auto;
	}

	.main-header h1{
		padding: 5px;
		font-size: 3.3vw;
		z-index: 2;
	}

	.main-header img{
		position: absolute;
		align-self: center;
		width: 100%;
		z-index: 1;
		object-fit: cover;
	}
}

@media screen and (max-width: 480px) {

	#header-nav ul{
		flex-direction: column;
	}

	#header-nav a{
		font-size: 1.3rem;
		justify-content: center;
	}

	h2{
		font-size: 2rem;
	}

	.main-header h1{
		font-size: 1.3rem;
	}
	.work-link{
		margin-top: 5.5rem;
	}

	#main-headerContent{
		max-width: 95%;
	}

	.exp-link {
		display: none;
    	position: fixed;
    	z-index: 3;
    	right: 4vw;
    	background-color: rgb(40,40,40,0.7);
		margin-top: 10.7rem;
		width: 10.4rem;
    	border-radius: 8px;
	}

	.exp-link.is-active{
		display: block;
		transition: margin-top 0.5s;
	}
	
	#title-link {
		height: 4rem;
	}

}

@media screen and (max-width: 320px) {
	html{
		font-size: 13.5px;
	}

	.exp-link{
		margin-top: 11.5rem;
		width: 10.7rem;
	}

	.port-link{
		display: none;
    	position: fixed;
    	z-index: 3;
    	right: 4vw;
    	background-color: rgb(40,40,40,0.7);
		margin-top: 17.5rem;
		width: 10.7rem;
    	border-radius: 8px;
	}

	.port-link.is-active{
		display: block;
		transition: margin-top 0.5s;
	}
}
